<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Edit Issue</h1>
    <div class="btn-toolbar mb-2 mb-md 0">
      <div class="btn-group me-2">
        <button class="btn btn-sm btn-outline-secondary">?</button>
      </div>
    </div>
  </div>
  
  <div class="col py-3">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Issue</a></li>
            <li class="breadcrumb-item active">Edit Issue</li>
          </ol>
        </nav>
      </div>
      <div class="col text-end fw-lighter">
        <b>Issue Id: <%= issue._id %> </b><br>
        <b>Last Updated: <%= new Date(issue.updatedAt).toUTCString() %> </b>
      </div>
    </div>
  
  </div>
  
  
  <form action="/projects/issue/update/<%= issue._id %>?_method=PUT" method="POST">
  
    <div class="row form-group mb-4">
      <div class="col">
        <label for="projectname">Title</label>
        <input type="text" class="form-control" id="title" name="title" value="<%= issue.title %>" placeholder="Title" required>
      </div>
  
    </div>

    <div class="form-group mb-4">
        <label for="tel">Description</label>
        <textarea type="text" class="form-control" id="description" name="description" cols="30" rows="10" placeholder="Description" required><%= issue.description %></textarea>
      </div>
    <div class="row form-group mb-4">
      <div class="col">
        <label for="label">Label</label>
        <select multiple class="form-control" name="label" id="labelSelect">
            <option <%= (issue.label === 'bug') ? 'selected' : '' %> value="bug">bug</option>
            <option <%= (issue.label === 'enhancement') ? 'selected' : '' %> value="enhancement">enhancement</option>
            <option <%= (issue.label === 'feature') ? 'selected' : '' %> value="feature">feature</option>
            <option <%= (issue.label === 'documentation') ? 'selected' : '' %> value="documentation">documentation</option>
            <option  <%= (issue.label === 'design') ? 'selected' : '' %> value="design">design</option>
          </select>
      </div>
       <div class="col">
        <label for="details">Author</label>
        <input class="form-control" name="author" id="author" value="<%= issue.author %>" placeholder="Author" required>
        <input type="hidden" name="projectid" value="<%= issue.project %>"> 
       </div>
    </div>
  
    <div class="form-group mb-4">
      <button type="submit" class="btn btn-primary">Update Issue</button>
    </div>
  
    
  
  </form>