<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Edit Project : <%= projects.projectname %></h1>
    <div class="btn-toolbar mb-2 mb-md 0">
      <div class="btn-group me-2">
        <button class="btn btn-sm btn-outline-secondary">?</button>
      </div>
    </div>
  </div>
  
  <div class="col py-3">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active"> <%= projects.projectname %> </li>
          </ol>
        </nav>
      </div>
      <div class="col text-end fw-lighter">
        <b>Project Id: <%= projects._id %> </b><br>
        <b>Last Updated: <%= new Date(projects.updatedAt).toUTCString() %> </b>
      </div>
    </div>
  
  </div>
  
  
  <form action="/projects/edit/<%= projects._id %>?_method=PUT" method="POST">
  
    <div class="row form-group mb-4">
      <div class="col">
        <label for="projectname">Project Name</label>
        <input type="text" class="form-control" id="projectname" name="projectname" value="<%= projects.projectname %>" placeholder="Project Name" required>
      </div>
  
    </div>
    <div class="row form-group mb-4">
      <div class="col">
        <label for="tel">Telephone</label>
        <input type="text" class="form-control" id="tel" name="tel" value="<%= projects.tel %>" placeholder="Telephone" required>
      </div>
  
      <div class="col">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" name="email" value="<%= projects.email %>" placeholder="Email" required>
      </div>
    </div>
  
  
    <div class="form-group mb-4">
        <label for="details">Project Details</label>
        <textarea class="form-control" name="details" id="details" cols="30" rows="12"  placeholder="Project Details"><%= projects.details %></textarea>
    </div>
  
    <div class="form-group mb-4">
      <button type="submit" class="btn btn-primary">Update Project</button>

      <button type="button" class="btn btn-danger"data-bs-toggle="modal" id="deletebtn" data-bs-target="#deleteModal">Delete Project</button>
    </div>
  
    
  
  </form>

  <div class="modal fade" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
           <div class="model-header">
              <div class="modal-body">
                <p>
                  Are you sure? you want to delete <b class="fw-bold"><%= projects.projectname %><br/> Project?
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form action="/projects/edit/<%= projects._id %>?_method=DELETE" method="POST" class="position-relative">
                  <button type="submit" class="btn btn-primary">Yes, Delete Project</button>
                </form>
              </div>
       </div>

    </div>
  </div>